@model IPagedList<SizeListVm>
@using X.PagedList
@using X.Web.PagedList
@{
    ViewData["Title"] = "Size List";
}
<div class="container">
    @Html.AntiForgeryToken()
    <div class="row mb-3 w-75">
        <div class="col-6">
            <h3>Size List</h3>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Sizes" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Nuevo
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover w-75">
        <thead>
            <tr>
                <th style="width:30%">Size</th>
                <th style="width:20%">Active</th>
                <th style="width:25%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="@item.SizeId">
                        <td style="text-align:right">
                            @item.SizeNumber.ToString("##.0")

                        </td>
                        <td>
                            @if (item.Active)
                            {
                                <span class="badge bg-primary">Yes</span>
                            }else
                            {
                                <span class="badge bg-danger">No </span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Sizes" asp-action="UpSert" asp-route-id="@item.SizeId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a onclick="Delete('/Sizes/Delete/@item.SizeId',@item.SizeId,'@item.SizeNumber')" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">
                        F?uck!!! No sizes have been added yet!

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <partial name="_Pager" model="@Model" />

</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>

}